			.duzeBukwyRed {
				background-color: red;
				text-align: center;
			
			}
			
			.duzeBukwyGreen {
				background-color: green;
				text-align: center;
			
			}
			
# ---------------- SELECTORY TAG ---------------------------
		
			# tutaj sa selektory CSS na tagi
			
			#body {
			#	background-color: yellow; 
			#
			#}
			
# ------------------SELEKTORY CLASS------------------------			
			
			# tutaj sa selektory CSS na klasy
			# zawsze rozpoczcynaja sie od
			# krokpki
			

		
		